.iridescence-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Allows you to click the buttons/links in front of it */
}

.iridescence-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}